@import url('https://fonts.googleapis.com/css?family=Cabin:600|Noto+Sans+SC|Work+Sans:100,300,500&display=swap');

$font-family: $primary-font, $secondary-font, Arial, sans-serif;

h1, h2, h3, h4, h5 {
  font-family: $font-family;
}

input, textarea, select, button {
  font-family: $font-family;
}